body {
    padding: 10px 0px;
    background: url(../resources/ddv.jpg);
}

.lab-number{
    width: 100%;
    text-align: center;
    font-size: 35px;
    margin: 20px 0px;
    font-weight: 500;
}

.left-menu-list{
    border: 1px solid green;
}